<div class="row mx-0 g-0">

<div id="login">


<form id="login-form" action="/login" method="POST" >
<div class="row align-items-center g-3">
        <div class="col-auto">
  <label for="username" class="visually-hidden">Username</label>
  <input type="text" name="username" placeholder="Your username" value="gladys" class="form-control">
  </div>


<div class="col-auto">
  <label for="password" class="visually-hidden">Password</label>
  <input type="password" name="password" placeholder="********" value="Ngatchani1" class="form-control">
  </div>

  {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
  {{/if}}

<div class="col-auto">
  <button type="submit" class="btn text-uppercase p-3" id="login-button">Login</button>
  </div>

  <p class=" text-center mt-3" id="already-2">
    <span class="grey"> Don't have an account? </span> <a href="/signup" id="link-signup">SIGNUP</a>
  </p>
</form>

{{!-- <div class="row">
  <div class="col-6 text-end">
<p class="grey">  Or login with Google</p>
</div>
<div class="col-6">
<form action="/auth/google" method="GET">
  <button type="submit" class="btn text-uppercase p-3" id="login-button">LOGIN</button>
</form>
</div>
</div> --}}


</div>

</div>
