<form id="form" action="/login" method="POST" >
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your username"><br>

  <label for="password">Password</label>
  <input type="password" name="password"placeholder="********"><br>

  {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Login</button>

  <p>
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>