<form id="form" action="/login" method="POST" >
  <label for="username" class="card">Username</label>
  <input type="text" name="username" placeholder="Your username" value="gladys"><br>

  <label for="password" class="card">Password</label>
  <input type="password" name="password"placeholder="********" value="Ngatchani1"><br>

  {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Login</button>

  <p>
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>