<div class="wrap">
   <div class="search">
      <input type="text" id="searchbar" class="searchTerm" placeholder="Type the name of the desired author">
      <button type="submit" id="searchbarBtn">
        SEARCH
     </button>
   </div>
</div>