

{{! <div id="display-author">
    <div></div>
</div> }}

<div class="row">

  <hr>

    <form method="POST" action="/">
      <label for="name">Enter name</label>
      <input type="text" name="name" placeholder="enter name" />
      <input type="number" name="number" max="30" min="1" value="3" />
      <button>Search</button>
    </form>

  </div>

  <hr>

  <div class="row">

  <div class="col-8 d-flex flex-row flex-wrap">
    {{#each authorsSearched}}
      <div class="card" id="author-card" style="width: 18rem;">
        {{! <img src="..." class="card-img-top" alt="..."> }}
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text" id="author-card-name">{{this.author_name}}</p>
          <a href="/oneBook/{{this.key}}" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="col-4 d-flex flex-row flex-wrap">
    <h2>Add a book</h2>
    <form method="POST" action="/addbook">
    <label for="title">TITLE</label>
    <input type="text" name="title" required />
    <label for="title">AUTHOR NAME</label>
    <input type="text" name="author_name" required />
    <hr>
    <button>CREATE</button>
    </form>
  </div>

</div>

{{!-- //REVIEWS SESSION
<a href="/reviews/new">New Review</a>
{{>reviews-index}} --}}