

body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color:#FFCE6D;
  /* margin: 0 !important; */
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

#bookwarm {
  position: relative;
}

#searchbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#booksdisplayed {
  background-color: #eef2f8;
}

#browse {
  background-color: #C05F59;
}

#fatLinks {
  font-size: xx-large;
}

#contest {
  background-color: #291B25;
}

#contest a {
  text-decoration: none;
  color: #ED5B2D;
}

.fatlinks {
  text-decoration: none;
  font-size: xx-large;
  color: #291B25;
}

.wishcol {
  color: #5A735D;
  text-decoration: none;
  border: 2px dotted #3D485A;
  padding: 0.8em;
  margin-top: 5rem;
}

.hidden {
visibility: hidden;
}

#likes {
  color: #ED5B2D;
}

#reviews {
  padding: 1rem;
  background-color: #035471;
  color: white;
  opacity: 0.8;
}

#reviewBtn {
  margin: 1rem;
  padding: 1rem;
  background-color: #3D485A;
  color: #291B25;
}

#personalspace {
  margin: 1rem;
  padding: 1rem;
  color: #00b7ff;
}

#signup {
  padding: 1rem;
  width: 100%;
  background-image: url("../images/signup.jpg");
  background-size: cover;
}

#signup-form {
  margin: 20%;
  transform: translateY(-20%);
  background-color: #035471;
  border-radius: 2%;
  padding: 5em;
  opacity: 0.8;
}

#yellow {
  color: #DBB564;
  text-decoration: none;
}

#signup-button {
  background-color: #DBB564;
  color: #C05F59;
}

.grey {
  color: grey;
}

#already {
  border-radius: 3%;
  border: dotted #C05F59 3px;
  padding: 3%;
}

#already-2 {
  border-radius: 3%;
  border: dotted #C05F59 3px;
  padding: 3%;
}

#login {
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background-image: url("../images/login2.jpg");
  background-size: cover;
}

#login-form {
  margin: 20%;
  transform: translateY(-20%);
  background-color: #283E6F;
  color: #B7705A;
  /* border: ridge #C05F59 3px; */
  border-radius: 2%;
  padding: 5em;
  opacity: 0.9;
}


#login-button {
  background-color: #B7705A;
  color: #7A2113;
}

#link-signup {
  color: #B7705A;
  text-decoration: none;
}


.lagoon {
  background-color: #7F9E92;
}

.opacify {
  opacity: 0.8;
}

#author-card {
  background-size: cover;
  background-color: #93b2a7;
  border-radius: 2%;
  padding: 2%;
  border: dotted #a9c2b9 5px;
  /* width: calc(92% /3) */
}

#author-card:hover {
  background-image: url("../images/bookforest-transparent.png");
  background-color: #b4cac2;
  padding: 4%;
  font-size: 1.2em;
  border: none;
  transform: scale(1.2);
  z-index: 4;
  /* padding: 1%; */
}

#author-cat-card {
  background-size: cover;
  background-color: #93b2a7;
  border-radius: 2%;
  padding: 2%;
  border: dotted #a9c2b9 5px;
  /* width: calc(92% /3) */
}

#author-cat-card:hover {
  background-size: cover;
  background-color: #93b2a7;
  border-radius: 2%;
  padding: 2%;
  border: dotted #a9c2b9 5px;
  transform: scale(1.2);
  z-index: 4;
}

#author-best-card {
  background-size: cover;
  background-color: #93b2a7;
  border-radius: 2%;
  padding: 2%;
  border: dotted #a9c2b9 5px;
  /* width: calc(92% /3) */
}

#author-best-card:hover {
  background-size: cover;
  background-color: #93b2a7;
  border-radius: 2%;
  padding: 2%;
  /* border: dotted #a9c2b9 5px; */
  transform: scale(1.2);
  z-index: 4;
}

.flip-2-ver-right-bck {
	-webkit-animation: flip-2-ver-right-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-ver-right-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-15 22:44:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-right-bck
 * ----------------------------------------
 */
 @-webkit-keyframes flip-2-ver-right-bck {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-260px) rotateY(180deg);
            transform: translateX(100%) translateZ(-260px) rotateY(180deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes flip-2-ver-right-bck {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) translateZ(-260px) rotateY(180deg);
            transform: translateX(100%) translateZ(-260px) rotateY(180deg);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}




#background-index {
  background-color: rgb(237, 226, 226);
}

.title {
  color: #283E6F;
}

.author {
  color: black;
  text-align: right;
  margin-bottom: 30%;
}

.rating {
  color: white;
  text-align: left;
}

#best {
  /* display: inline-block; */
  /* margin-left: 10%; */
  /* background-color: #879fd4; */
  background-color: #d6bab1;
  padding: 3%;
  border: dotted #eead9c 3px;
  color: #6D2D21;
  border-radius: 3%;
}

#search {
  color: #EBB2A3;
  border-radius: 2%;
}

#users-suggest {
  background-color: #879fd4;
  padding: 3%;
  border: dotted #7993cf 3px;
  color: #6D2D21;
  border-radius: 3%;
}

#yoursearch {
  background-color: #283E6F;
  padding: 3%;
  border: dotted #233661 3px;
  color: #c5543f;
  border-radius: 3%;
}

#categories {
  color:#DCC9C3;
  border-radius: 2%;
  text-align: right;
}


#search-btn {
  border: solid #283E6F 1px;
  color: #879fd4;
  /* margin-left: 70%; */
  padding: 1%;
  /* background-color: #C3CAD4!important; */
}

#search-btn:hover {
  border: solid #879fd4 1px;
  color: #283E6F;
}

.cat {
  background-color: #DCC9C3 !important;
  border-radius: 2%;
  color: #7D2C29 !important;
  margin: 10px;
}

.cat:hover {
  background-color: #d5aea3 !important;
  color: black !important;
  transform: scale(1.5);
}

.minified {
  transform: scale(0.8);
}

#account {
  background-color:  #DECCCA;

}
#last-books {
  padding-top: 2%;
  background-color:  #DECCCA;
  opacity: 0.8;
}

#your-reviews {
  padding-top: 2%;
  background-color: #3D485A;
  opacity: 0.8;
}

#personal {
  background-color: #C19E88
}

.green {
  color: #5A735D;
}

#review-card {
  background-color: #DECCCA;
  color:  #9B5B73;
  border-radius: 2%;
  padding: 2%;
  border: dotted #d6c0be 3px;
}

#review-card:hover {
  background-color: #d6c0be;
}


#red-card {
  background-color: #3D485A;
  color: #DECCCA;
  border: dotted #3D485A 3px;

}

#upload {
  background-color: #9B5B73;
  color: white;
}

#book-tea {
  background-image: url(../images/booktea.jpg);
  background-size: cover;
  height: 100vh;
}

#book-forest {
  background-image: url(../images/bookforest-transparent.png);
  background-size: contain;
}

.relative {
  position: relative;
}
.absolute-img {
  width: 100%;
  height: 100vh;
}

.absolute-top {
  position: absolute;
  top: 0%;
  padding-left: 20%;
  padding-right: 2%;
  /* background-color: #283E6F; */
  opacity: 0.8;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom-right-radius: 20%;
  background-color: #283E6F;
}

.absolute-high {
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding-right: 20%;
  padding-left: 2%;
  background-color: #035471;
  opacity: 0.8;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
}

.absolute-low {
  position: absolute;
  bottom: 40%;
  left: 0%;
  padding-right: 2%;
  padding-left: 2%;
  background-color: rgb(235, 217, 217);
  border-right:rgb(223, 200, 200) 4px ridge;
  color: maroon;
  padding-top: 2%;
  padding-bottom: 2%;
}

#bg-one-book {
  background-color: #eef2f8;
}

.actions {
  /* background-color: #dc3545; */
  border-color: #dc3545;
  color: #dc3545;
  border-radius: 2%;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5%;
}

#papyrus {
  background-image: url("../images/Orange\ Minimal\ Book\ Store\ Logo\ \(1\).png");
  background-color: #DECCCA;
  /* border: 2px dotted rgb(211, 146, 146); */
  background-size: cover;
  min-height: 600px;
  width: 100%;
  opacity: 0.8;
  padding: 0 !important;
  position: relative;
}

#comment-card {
  background-color: inherit;
  /* padding: 0 !important; */
  margin: 0 !important;
  border: none !important;
}


.carouse {
  color: slateblue !important;
}

.violet {
  background-color: slateblue;
}


.btn {
  transition: opacity .15s ease !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#contest {
  background-image: url("../images/library-transparent.png");
  height: 100vh;
  background-size: cover;
}

#link-contest {
  position: absolute; 
  left: 24%; 
  top: 42.5%; 
  width: 52.7%; 
  height: 14.7%; 
  opacity: 0.3; 
  border: red 5px groove;
}

#link-contest:hover {
  border: rgb(177, 3, 3) 5px groove;
  background-color: rgb(189, 69, 69);
  opacity: 0.4;
}

#profile {
position: relative;
width: 100%;
background-image: url('../images/books-wall-semi-trans.png');
background-size: cover;
height: 150vh;
}

#container-profile-image {
  position: relative;
}

#name-over-picture {
  position: absolute;
  top: 85%;
  left: 88%;
  color: red;
}

#profile-image {
  width: 20%;
  /* height: 25vh; */
}

#profile-image:hover {
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8) translate(-21%, 21%);
  z-index: 4;
}

.filter img {
  -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  filter: sepia(100%) hue-rotate(90deg) saturate(400%);
}

#relative-carousel-item-1 {
  position: relative;
}

#relative-carousel-item-2 {
  position: relative;
}

#absolute-carousel-item {
  position: absolute;
  background-color: white;
  color: black;
  top: 30%;
  left: 30%;
}

 #absolute-carousel-item-low {
  position: absolute;
  background-color: white;
  bottom: 20%;
  left: 30%;
 }