body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#fatLinks {
  font-size: xx-large;
}

#contest {
  background-color: #291B25;
}

#contest a {
  text-decoration: none;
  color: #ED5B2D;
}

.fatlinks {
  text-decoration: none;
  font-size: xx-large;
  color: #291B25;
}

.wishcol {
  color: #ED5B2D;
  font-size: x-large;
  text-decoration: none;
}

.hidden {
visibility: hidden;
}

.likes {
  color: #ED5B2D;
}